adium-theme-ubuntu==0.3.4
amqp==1.4.9
anyjson==0.3.3
apt-xapian-index==0.46
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.22
blinker==1.3
blueware==1.0.11
celery==3.1.20
cffi==1.1.2
characteristic==14.3.0
chardet==2.3.0
colorama==0.3.3
contextlib2==0.5.1
coverage==3.5
cryptography==1.0.1
debtags==2.0
decorator==4.0.2
defer==1.0.6
dirspec==13.10
Django==1.8.14
django-allauth==0.26.1
django-bitfield==1.8.0
django-braces==1.9.0
django-celery==3.1.17
django-chartit==0.1
django-cors-headers==1.1.0
django-debug-toolbar==1.4
django-djconfig==0.4.0
django-filter==0.12.0
django-haystack==2.4.1
django-http-proxy==0.4.3
django-infinite-scroll-pagination==0.1.3
django-jsonfield==0.9.19
django-kombu==0.9.4
django-mathfilters==0.3.0
django-oauth-toolkit==0.10.0
django-oauth2-provider==0.2.6.1
django-qiniu-storage==2.3.0
django-redis-cache==1.6.5
django-spirit==0.4.7
django-statsd-mozilla==0.3.16
django-tagging==0.4.3
djangorestframework==3.1.3
drf-extensions==0.2.7
duplicity==0.7.2
ecdsa==0.13
enum34==1.0.4
gevent==1.0.1
greenlet==0.4.3
gunicorn==19.4.5
html5lib==0.90
httplib2==0.9
idna==2.0
ipaddress==1.0.14
ipython==2.3.0
kombu==3.0.33
lockfile==0.10.2
lxml==2.3
Markdown==2.6.6
meld3==1.0.2
mistune==0.7.1
mysql-connector-python==2.0.4
MySQL-python==1.2.3
mysql-utilities==1.6.1
mysqlclient==1.3.4
ndg-httpsclient==0.4.0
nose==1.3.1
numpy==1.11.0
oauth2==1.9.0.post1
oauthlib==1.0.3
oneapm-ci-sdk==0.1.0
oneconf==0.3.8
PAM==0.4.2
paramiko==1.15.2
pexpect==3.2
Pillow==3.1.0
pingpp==2.0.1
piston-mini-client==0.7.5
ply==3.7
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pyExcelerator==0.6.4.1
pygobject==3.16.2
PyJWT==1.0.0
PyMySQL==0.6.7
pyOpenSSL==0.15.1
PyPDF2==1.19
pyserial==2.7
pysqlite==2.7.0
python-apt==1.0.1
python-dateutil==2.5.0
python-debian==0.1.27
python-memcached==1.53
python-openid==2.2.5
pytz==2015.7
pyxdg==0.25
qiniu==7.0.5
qrcode==5.1
raven==5.11.0
redis==2.10.5
reportlab==2.5
requests==2.9.1
requests-oauthlib==0.6.2
service-identity==14.0.0
shortuuid==0.4.3
simplegeneric==0.8.1
simplejson==3.8.2
six==1.6.1
software-center-aptd-plugins==0.0.0
South==1.0
sqlparse==0.1.19
statsd==2.1.2
supervisor==3.0
system-service==0.1.6
Twisted-Core==15.2.1
Twisted-Web==15.2.1
ubuntuone-client-data==14.4
unicode-slugify==0.1.3
Unidecode==0.4.19
unity-lens-photos==1.0
urllib3==1.11
virtualenv==15.0.3
Whoosh==2.7.0
xdiagnose==3.8.1
xhtml2pdf==0.0.6
XlsxWriter==0.8.4
zope.interface==4.1.2
