{% load i18n %}

<form action="{% url "spirit:comment:publish" topic_id %}" method="post" class="js-reply">
    {% csrf_token %}
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

    {{ form.non_field_errors }}

    {% for field in form %}
        {{ field.errors }}
        {{ field }}
    {% endfor %}

    <div class="container">
        {% include "spirit/comment/_editor.html" with user=user%}
        <input id="ry" class="button reply-button" type="submit" value="{% trans "Publish" %}"  style="background-color: #f5a623;border-radius: 16px;" />
    </div>
</form>


<script>
    $( document ).ready(function() {
            <!--在点击发布的时候,如果有图片,就把图片链接上传到text里面,这样才能存入后台数据库-->
            $('#ry').click(function(){
            id_comment_content = $("#id_comment").val();
            <!--console.log(id_comment_content);-->
             var files = $('#files').uploader('getData');
             <!--console.log(files);-->
             if(files.length != 0){
             <!--console.log("有图片")-->
             $("#id_comment").text(files+id_comment_content);
              <!--console.log(files+"\n"+id_comment_content);-->
             }
             })
        $( ".reply" ).find( "textarea" ).store( "comment-thread-{{ topic_id }}" );

	});
</script>